# Env and IOE
**/secret
__pycache__
/venv
**/__pycache__/**
.env
.vscode
.pytest_cache/
.idea/
.vscode/
# Build
/build
/dist
# Tests
tests/output
# Scripts
scripts/email/config/
# POSAC FILES
*.SCR
*.pos
*.ls1
*.ls2
*.pax
*.OUT
*.TAB