# Env and IOE
**/secret
__pycache__
/venv
**/__pycache__/**
.env
.vscode
.pytest_cache/
.idea/
.vscode/
# Build
/build
/dist
# Tests
tests/output
**/output
# Scripts
scripts/email/config/
# POSAC FILES
*.PSC
*.ASC
*.SCR
*.pos
*.ls1
*.ls2
*.pax
*.OUT
*.TAB
# Fortran output files
FORT9
FORT10
FORT14
